NODE_ENV="development"
PORT=3000
BCRYPT_ROUNDS=10
JWT_SECRET="secret"
DATABASE_URL="postgresql://postgres:docker@localhost:5432/media_approval"
TEST_DATABASE_URL="postgresql://postgres_test:docker_test@localhost:5433/media_approval_test"